% No deps by default to prevent conflicts
{deps, [
]}.

{profiles, [
  {dev, [
    {deps, [
      jsx,
      yamerl,
      {cowboy, "2.9.0"},
      redbug
    ]},
    {ct_opts, [{ct_hooks, [cth_surefire]}]}
  ]},
  {dev_legacy, [
    {deps, [
      jsx,
      yamerl,
      {cowboy, "1.0.1"},
      {lhttpc, {git, "https://github.com/erlyvideo/lhttpc.git", {branch, "master"}}}, 
      redbug
    ]},
    {ct_opts, [{ct_hooks, [cth_surefire]}]}
  ]}
]}.

{overrides, [
  {del, redbug, [{erl_opts, [warnings_as_errors]}, {plugins, [rebar3_hex]}]}
]}.
