
{deps, [
]}.

{profiles, [
  {test, [
    {deps, [jsx, yamerl, {cowboy, "2.9.0"}]}
  ]},
  {dev, [
    {deps, [jsx, yamerl, {cowboy, "2.9.0"}, redbug]}
  ]},
  {dev_legacy, [
    {deps, [jsx, yamerl, {cowboy, "1.0.1"}, redbug]}
  ]}
]}.

{overrides, [
  {del, redbug, [{erl_opts, [warnings_as_errors]}, {plugins, [rebar3_hex]}]}
]}.
